# C'est mon environnement virtuel sur ma machine.
/env
# C'est un dossier local sur ma machine.
/important

# Si vous créez votre propre environnement virtuel ou des dossiers locaux,
# n'oubliez pas de les ajouter ici pour éviter de les pousser sur GitHub aussi.
# Merci ;)
.venv/
__pycache__/
*.pyc
node_modules/
dist/
